---
import type { CollectionEntry } from "astro:content";
import type { ProjectFields } from "../../layouts/ProjectLayout.astro";
import { toTitleCase } from "../../util/formatting";
import type { AstroComponentFactory } from "astro/dist/runtime/server";
type Categories = CollectionEntry<"categories">;
type Props = {
  fields: ProjectFields;
  icon: string;
  filters: string[];
  categoriesData: Categories[];
  Content: AstroComponentFactory
};
const { fields, icon, categoriesData, filters, Content } = Astro.props;
---

<div class="w-full p-5 bg-white text-black rounded-xl relative project-details">
  <img src={`/icons/${icon}`} width="75px" class="absolute right-0 top-0 m-5" />
  <ul>
    {
      fields.map((field) => (
        <li class="mb-2">
          <b data-pagefind-ignore>{toTitleCase(field.key)}</b>
          {field.type === "array" ? (
            <p>
              {(field.value as typeof categoriesData).map((value, index) => (
                <a data-pagefind-filter={field.key} 
                class="text-blue-700 underline"
                href={`/${value.slug}/1`}>
                  {value.data.name}
                </a>
                <span>
                  {index === categoriesData.length - 1 ? "" : ", "}
                </span>
              ))}
            </p>
          ) : (
            <p
              data-pagefind-filter={filters.includes(field.key) && field.key}
              data-pagefind-ignore={filters.includes(field.key)}
              data-pagefind-meta={!filters.includes(field.key) && field.key}
            >
              {field.type === "link" ? (
                <a href={field.value as string} class="text-blue-700 underline">
                  {field.value}
                </a>
              ) : (
                field.value
              )}
            </p>
          )}
        </li>
      ))
    }
    <li class="project-notes">
      <b data-pagefind-ignore>Notes</b>
      <Content />
    </li>
  </ul>
</div>
<style is:global lang="scss">
  /* style markdown content here */
  .project-notes {
    a {
      color: rgb(29 78 216);
      text-decoration: underline;
    }
  }
  
</style>

