---
import { getEntry, type CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"projects">["data"];

const { name, notes, categories, link, support, icon } = Astro.props;
const categoryPromises = categories.map(async (category) =>
	getEntry("categories", category.id)
);
const categoriesData = await Promise.all(categoryPromises);
---

<html lang="en">
	<head>
		<BaseHead title={name} description={notes} />
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="flex">
					<h1 class="font-bold text-2xl">{name}</h1>
					<img src={`/icons/${icon}`} width="50px" />
				</div>

				<ul class="px-10">
					<li>
						<b>Support</b>
						<p>{support}</p>
					</li>
					<li>
						<b>Categories</b>
						<p>
							{
								categoriesData
									.map((category) => category.data.name)
									.join(", ")
							}
						</p>
					</li>
					<li>
						<p>
							<a class="underline text-blue-700" href={link}
								>{link}</a
							>
						</p>
					</li>
					<li>
						<b>Notes</b>
						<p>{notes}</p>
					</li>
				</ul>
			</article>
		</main>
		<Footer />
	</body>
</html>
